{% extends 'partials/page.html.twig' %}

{% block content %}
            <div id="content">
                <div class="container background-white">
                    <div class="row margin-vert-40">
                        <!-- Begin Sidebar Menu -->
                        <div class="col-md-3">
                            {% include 'sidebar/menu.html.twig' %}
                        </div>
                        <!-- End Sidebar Menu -->
                        <div class="col-md-9">
                            <div class="row">
                                <!-- Page title -->
                                <div class="col-md-12">
                                    <div class="headline">
                                        <h3>{{ page.title }}</h3>
                                    </div>
                                    <hr>
                                </div>
                                <!-- End Page title -->
{% if root.route == '/docs' %}
                                <!-- Documentation menu
                                <div class="col-md-12">
                                    {% include 'partials/section.html.twig' %}
                                    <hr>
                                </div> -->
                                <!-- End Documentation menu -->
{% endif %}
                            </div>

{% if page.content %}
                            <!-- Page content -->
                            <div class="row">
                                <div class="col-md-12">
                                    {{ page.content }}
                                    <hr>
                                </div>
                            </div>
                            <!-- End Page content -->
{% endif %}

{% if jaxon and jaxon.html %}
                            <!-- Jaxon content -->
                            <div class="row" style="margin-bottom:20px;">
                                <div class="col-md-12">
                                    <h3 class="margin-vert-10">Demo</h3>
                                </div>
                                {{ jaxon.html }}
                                <hr>
                            </div>
                            <!-- End Jaxon content -->
{% endif %}

{% if page.route == '/docs/v3x' or page.route == '/docs/v2x' %}
                            <!-- Section TOC -->
                            <div class="row">
                                <div class="col-md-12">
                                    {% include 'partials/section.html.twig' %}
                                    <hr>
                                </div>
                            </div>
                            <!-- End Section TOC -->
{% endif %}

{% if config.plugins.jscomments.enabled %}
  {{ jscomments() }}
{% endif %}
                            <div class="clearfix margin-bottom-10"></div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
