{% set versions = ['v5x', 'v4x', 'v3x', 'v2x'] %}
    <ul class="list-unstyled text-right">
{% for version in versions %}
{% set doc = page.find('/docs/' ~ version) %}
        <li>
            &nbsp;<i class="fa fa-chevron-right color-gray-lighter"></i>
{% if uri.paths[1] == version %}
            &nbsp;<b>{{ doc.header.version }}</b>
{% else %}
            &nbsp;<a href="{{ doc.url }}">{{ doc.header.version }}</a>
{% endif %}
        </li>
{% endfor %}
    </ul>
