{% extends 'layouts/page.html.twig' %}

{% block content %}
            <div id="content">
                <div class="container background-white">
                    <div class="row margin-vert-40">
                        <!-- Begin Sidebar Menu -->
                        <div class="col-md-3">
                            {% include 'sidebar/menu.html.twig' %}
                        </div>
                        <!-- End Sidebar Menu -->
                        <div class="col-md-9">
                            <div class="row">
                                <!-- Page title -->
                                <div class="col-md-9">
                                    <div class="headline">
                                        <h3>{{ page.title }}</h3>
                                    </div>
                                    <hr>
                                </div>
                                <!-- End Page title -->
{% if root.route == '/docs' %}
                                <!-- Documentation menu -->
                                <div class="col-md-3">
                                    {% include 'partials/versions.html.twig' %}
                                </div>
                                <!-- End Documentation menu -->
{% endif %}
                            </div>

{% if page.content %}
{% if root.route == '/examples' %}
                            <!-- Warning on examples deprecation -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="alert alert-warning" role="alert">
                                        {{ "CONTENT.EXAMPLES_DEPRECATION"|t }}
                                    </div>
                                </div>
                            </div>
                            <!-- End Warning -->
{% endif %}
                            <!-- Page content -->
                            <div class="row">
                                <div class="col-md-12 doc-page-content">
                                    {{ page.content|raw }}
                                    <hr>
                                </div>
                            </div>
                            <!-- End Page content -->
{% endif %}

{% if page.route in ['/docs/v5x', '/docs/v4x', '/docs/v3x', '/docs/v2x'] %}
                            <!-- Section TOC -->
                            <div class="row">
                                <div class="col-md-12">
                                    {% include 'partials/section.html.twig' %}
                                    <hr>
                                </div>
                            </div>
                            <!-- End Section TOC -->
{% endif %}

{% if config.plugins.jscomments.enabled %}
  {{ jscomments() }}
{% endif %}
                            <div class="clearfix margin-bottom-10"></div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
