<div class="row">
    {% for item in root.children %}
        <h5>{{ item.menu }}</h5>
        <ul class="side-nav">
        {% for child in item.children %}
          {% if child.visible %}
            <li><a href="{{ child.url }}">{{ child.title }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
    {% endfor %}
</div>
