<div class="list-item">
    <div class="list-blog-header">
        <h4>{{ page.title }}</h4>
    </div>

    {% if jaxon.content %}
    <div class="list-blog-padding">
        <p>{{ page.header.description }}</p>
        <h5>Demo</h5>
        <div class="callout">
            {{ jaxon.content }}
            <div class="clearfix"></div>
        </div>
    </div>
    {% endif %}

    <div class="list-blog-padding">
        {{ page.content }}
    </div>

    {% if page.route == '/docs' or page.route == '/features' %}
    <div class="list-blog-padding">
        {% include 'partials/intro.html.twig' %}
    </div>
    {% endif %}
</div>
