{% for feature in page.header.features %}
                        <div class="col-md-3 text-center">
                            <i class="fa fa-{{ feature.icon }} fa-2x color-primary animate fadeIn"></i>
                            <h3 class="padding-top-10 animate fadeIn">{{ feature.header }}</h3>
                            <p class="animate fadeIn">{{ feature.text }}</p>
                        </div>
{% endfor %}
