            <div id="header">
                <div class="container">
                    <div class="row" style="height:100%;">
                        <div class="col-md-8 col-xs-12">
                            <!-- Logo -->
                            <div>
                                <h1><a href="/" title="Jaxon"><!-- <img src="/template/img/logo.png" alt="Logo" /> -->Jaxon</a></h1>
                            </div>
                            <div>
                                <h3>{{ "HEADER.MOTTO"|t }}</h3>
                            </div>
                            <!-- End Logo -->
                        </div>
                        <!-- <div class="col-md-4 hidden-xs">
                            <div style="margin-top:60px;">
                                &nbsp;
                            </div>
                            <div>
                                <h3>{{ "HEADER.DONATE"|t }}</h3>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
