{% if config.plugins.simplesearch.enabled %}
<div class="sidebar-content">
    {% include 'partials/simplesearch_searchbox.html.twig' %}
</div>
{% endif %}
<div class="sidebar-content">
    <ul class="list-group">
    {% for item in page.find('/features').children %}
        <li class="list-group-item"><a href="{{ item.url }}">{{ item.menu }}</a></li>
    {% endfor %}
    </ul>
</div>
