                            <h3 class="padding-vert-10">{{ page.title }}</h3>
                            {{ content }}
                            <ul class="tick animate fadeInRight">
{% for motivation in page.header.motivations %}
                                <li>{{ motivation.text }}</li>
{% endfor %}
                            </ul>
