                            <h4>{{ page.title }}</h4>
	                        <div class="jaxon-code">
	                            {{ page.header.operation.define }}
<pre><code class="language-php">
// Bootstrap the library and register classes
jaxon()->app()->setup('/path/to/config/file.php');
// Get a request to a Jaxon class
$c = jaxon()->request('My\\Namespace\\My\\Class');
</code></pre>
	                        </div>
	                        <div class="jaxon-code">
	                            {{ page.header.operation.insert }}
<pre><code class="language-php">
&lt;!-- Call the PHP class from the browser using Ajax --&gt;
&lt;button onclick="&lt;?php echo $c->myMethod() ?&gt;" /&gt;
</code></pre>
	                        </div>
