                            <h3 class="padding-vert-10">{{ page.title }}</h3>
	                        <div class="col-md-12 no-padding jaxon-code">
	                            {{ page.header.operation.define }}
<pre><code>
$jaxon->register(Jaxon::CALLABLE_OBJECT, new MyClass);
</code></pre>
	                        </div>
	                        <div class="col-md-12 no-padding jaxon-code">
	                            {{ page.header.operation.insert }}
<pre><code>
&lt;input type="button" onclick="JaxonMyClass.myMethod()" /&gt;
</code></pre>
	                        </div>
