                            <h3 class="padding-vert-10">{{ page.title }}</h3>
{% for plugin in page.header.plugins %}
                        <div class="col-md-4 text-center">
                            <i class="fa-bar-{{ plugin.icon }} fa-4x color-primary animate fadeIn"></i>
                            <h2 class="padding-top-10 animate fadeIn">{{ plugin.header }}</h2>
                            <p class="animate fadeIn">Aie {{ plugin.text }}</p>
                        </div>
{% endfor %}
