            <div id="footer" class="background-grey">
                <div class="container">
                    <div class="row">
                        <!-- Footer Menu -->
                        <div id="footermenu" class="col-md-8">
                            <ul class="list-unstyled list-inline">
{% for page in pages.children.visible %}
                                <li><a href="{{ page.url }}">{{ page.menu }}</a></li>
{% endfor %}
                            </ul>
                        </div>
                        <!-- End Footer Menu -->
                        <!-- Copyright -->
                        <div id="copyright" class="col-md-4">
                            <p class="pull-right">Theme by <a href="http://www.bootstrap51.com" target="_blank">Bootstrap51</a>,
                            edited for the <a href="https://www.getgrav.org" target="_blank">Grav CMS</a></p>
                        </div>
                        <!-- End Copyright -->
                    </div>
                </div>
            </div>
